<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>

<body>
    <h2>Book Appointment</h2>
    <form action="/patients/book" method="post">
        <p>
            <label for="">Age</label>
            <input type="number" name="age" required>
        </p>
        <p>
            <label for="">Gender</label>
            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </p>
        <label for="">Symptom</label>
        <% symptoms.forEach(symptom=> { %>
            <div>
                <input type="checkbox" name="symptoms" value="<%= symptom.id %>">
                <%= symptom.name %>
            </div>
            <% }) %>
                <br><br>
                <button type="submit">Submit</button>
    </form>
</body>

</html>