<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HaloCoy</title>
</head>

<body>
    <header>
        <div class="header-left">
            <h2>HaloCoy</h2>
            <div class="navbar">
                <a href="/patients">Dashboard</a>
                <a href="/patients/bookings">My Bookings</a>
                <a href="/patients/book">Book Appointment</a>
                <a href="/patients/profile">My Profile</a>
            </div>
        </div>
        <a href="/logout" class="logout-btn">Logout</a>
    </header>