<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Doctors Role</title>
</head>

<body>
  <header>
    <div class="header-left">
      <div class="logo">
        <h2>HaloCoy</h2>
      </div>

      <div class="navbar">
        <a href="/doctors">Doctors</a>
        <a href="/doctors/diseases">Diseases</a>
        <a href="/doctors/symptoms">Symptoms</a>
      </div>
    </div>

    <div class="header-right">
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </header>