* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 40px;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .navbar {
  display: flex;
  gap: 30px;
}

header .navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in;
}

header .navbar a:hover {
  color: #376af7;
  transition: 0.3s ease-in;
}

.title {
  text-align: center;
}

.notifDelete {
  margin-top: 20px;
  background: #376af7;
  padding: 20px;
  color: white;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 5px;
  width: 400px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
}

.btn {
  background: #376af7;
  border: 1px solid #376af7;
  padding: 4px 10px;
  border-radius: 2px;
  transition: 0.3s ease-in;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: #376af7;
  transition: 0.3s ease-out;
}

.doctors {
  margin-bottom: 135px;
}

.doctors .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.doctors .content {
  display: flex;
  flex-direction: unset;
  box-shadow: unset;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.doctors img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.doctors .box {
  display: flex;
  gap: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.doctors .desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

.doctors .btnWrap {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column input {
  width: 400px;
  height: 20px;
  padding: 5px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
}

.column select {
  width: 100%;
  padding: 8px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
}

footer {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footerDoctorsPage {
  position: relative;
}
