* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  padding: 40px;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #16bbf7;
  color: white;
}

header .navbar {
  display: flex;
  gap: 30px;
}

header .navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in;
}

header .navbar a:hover {
  color: #a09c9c;
  transition: 0.3s ease-in;
}

.title {
  text-align: center;
  width: 100%;
}

.notifDelete {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  background: #ef073f;
  padding: 20px;
  color: white;
}

.errors {
  width: 100%;
  background: #ef073f;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 5px;
  width: 400px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
  color: #16bbf7;
}

.btn {
  background: #16bbf7;
  border: 1px solid #16bbf7;
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.3s ease-in;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: #16bbf7;
  transition: 0.3s ease-out;
}

.btnDetail {
  background: #3dd343;
  border: 1px solid #3dd343;
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.3s ease-in;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btnDetail:hover {
  background: white;
  color: #3dd343;
  transition: 0.3s ease-out;
}

.btnDelete {
  background: #ef073f;
  border: 1px solid #ef073f;
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.3s ease-in;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btnDelete:hover {
  background: white;
  color: #ef073f;
  transition: 0.3s ease-out;
}

.btnSelect {
  width: 100%;
  padding: 5px;
  border: 1px solid #16bbf7;
  border-radius: 5px;
  text-align: center;
  background: #16bbf7;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btnSelect:hover {
  background: white;
  color: #16bbf7;
  transition: 0.3s ease-out;
}

.doctors {
  margin-bottom: 135px;
}

.doctors .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.doctors .content {
  display: flex;
  flex-direction: unset;
  box-shadow: unset;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.doctors img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.doctors .box {
  display: flex;
  gap: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.doctors .desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

.doctors .btnWrap {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.addDiseases {
  margin-bottom: 70px;
}

.editDiseases {
  margin-bottom: 150px;
}

.listPatient .content {
  margin-top: 20px;
}

.status {
  text-align: center;
}

.statusLocked {
  color: #ef073f;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column input {
  width: 400px;
  padding: 5px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
  color: #16bbf7;
}

.column select {
  width: 100%;
  padding: 8px;
  border: 1px solid #a09c9c;
  border-radius: 2px;
  cursor: pointer;
}

option {
  position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

th {
  background: #16bbf7;
  color: white;
  padding: 10px;
}

.trTd {
  transition: 0.3s ease-in;
}

.trTd:hover {
  background: #f6f4f0;
  transition: 0.3s ease-out;
}

td {
  padding: 20px;
  transition: 0.3s ease-in;
}

footer {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #16bbf7;
  color: white;
}

.footerDoctorsPage {
  position: relative;
}
